
form {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  padding: 0 10px;
}

button{
  margin-bottom: 10px;
}

.form-title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
