<div #container class="container">
  <div class="header">
    <img
      src="https://fontmeme.com/permalink/230205/ab4f5e77fb66d15d29e6672df4b85c97.png"
    />
  </div>
  <div class="content">
    <ng-container *ngIf="selectedPokemon">
      <h2 class="detail-title">Pokemon Detail</h2>
      <app-detail
        [pokemon]="selectedPokemon"
        (deleteEmitter)="deletePokemon()"
        (updateEmitter)="updatePokemon()"
      ></app-detail>
    </ng-container>
    <div class="list">
      <div class="list-header">
        <h3>List of Pokemon</h3>
        <button mat-raised-button color="primary" (click)="addPokemon()">
          Add Pokemon
        </button>
      </div>
      <app-catalog
        [pokemon$]="pokemon$"
        (pokemonEmitter)="selectPokemon($event)"
      ></app-catalog>
    </div>
  </div>
</div>
