.header {
  display: flex;
  justify-content: center;

  img {
    height: 150px;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: 60px;
  }
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;

  @media (min-width: 1200px) {
    padding: 40px;
  }

  .content {
    background: rgba($color: #000000, $alpha: 0.5);
    padding: 15px;
    .list-header {
      color: white;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
  }
}

.detail-title{
  color: white;
}
